# modules
Spigot/
Craftbukkit/
Bukkit/

apache-maven*/

# temp folder
work/

# ide files
.classpath
.project

# binary files
craftbukkit*.jar
spigot*.jar
BuildTools.jar

#
BuildData/

# log file
BuildTools.log.txt
